@model Individuelltarbeteaspmvc.Models.NewWeather

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NewWeather</legend>

    <div class="display-label">place</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.place)
    </div>

    <div class="display-label">longitude</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.longitude)
    </div>

    <div class="display-label">latitude</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latitude)
    </div>

    <div class="display-label">day1day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day1day)
    </div>

    <div class="display-label">day1temp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day1temp)
    </div>

    <div class="display-label">day2day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day2day)
    </div>

    <div class="display-label">day2temp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day2temp)
    </div>

    <div class="display-label">day3day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day3day)
    </div>

    <div class="display-label">day3temp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day3temp)
    </div>

    <div class="display-label">day4day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day4day)
    </div>

    <div class="display-label">day4temp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day4temp)
    </div>

    <div class="display-label">day5day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day5day)
    </div>

    <div class="display-label">day5temp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.day5temp)
    </div>

    <div class="display-label">NewUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewUser.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
