@model Väderapplikation.Models.ViewModel

@{
    ViewBag.Title = "NewCreate";
}
<p>@ViewBag.UserMessage</p>
<h2>NewCreate</h2>

@using (Html.BeginForm("NewCreateConfirm", "MyPlaces"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.place)
            @Html.ValidationMessageFor(model => model.place)
        </div>



        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
